table 			      {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius:6px;

  td,th           { padding-left:10px}

  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }

  td,th 					{ text-align:left;}
}
