<div class="row">
  <div class="col-md-4 from-group">
    <select class="form-select" id="searchKey" [formControl]="keyControl">
      <option
        *ngFor="let c of conditions; let index"
        [value]="c.value">
        {{c.title}}
      </option>
    </select>
  </div>

  <div class="col-md-4 form-group">
    <select class="form-select" id="filter" [formControl]="operatorControl">
      <option
        *ngFor="let operation of (activeCondition ? activeCondition.operators : [])"
        [value]="operation.value">
        {{operation.title}}
      </option>
    </select>
  </div>

  <div class="col-md-4 form-group">

    <div *ngIf="activeCondition.searchType === 'select'">
      <select class="form-select" id="search" [formControl]="valueControl">
        <option *ngFor="let select of (activeCondition.searchSelect ? activeCondition.searchSelect : [])"
                [value]="select.value">
          {{select.title}}
        </option>
      </select>
    </div>

    <div *ngIf="activeCondition.searchType !== 'select'">
      <input
        class="form-control"
        [type]="activeCondition.searchType"
        [formControl]="valueControl"
      />
    </div>
  </div>
</div>
