.card-container {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: #d2d5dc;
  margin: 25px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: fit-content;
}

.primary-btn.bc-blue {
  background-color: rgba(0, 96, 223, 0.4);
  cursor: default;
  font-size: smaller;
}

.primary-btn.bc-blue.changes {
  background-color: var(--fbc-blue-60);
  cursor: pointer;
  font-size: smaller;
}

.primary-btn.bc-blue.accepted {
  background-color: rgba(10, 180, 10, 1);
  transform: rotateY(360deg);
  transition: all 0.4s linear;
  font-size: 16px;
  padding: 4px 4px 0;
  margin: 0 1.5em;
}
.primary-btn.bc-blue.errorstate {
  background-color: var(--fancy-red);
  transform: rotateY(360deg);
  transition: all 0.4s linear;
  font-size: 16px;
  padding: 4px 4px 0;
  margin: 0 1.5em;
}

.contain-grades {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}


input {
  /* General styling */
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  padding: 2px;
  width: 5rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* Focus state styling */
  outline: none;
  box-shadow: 0 0 0 2px #4d90fe;
}

input[disabled] {
  opacity: 0.5;
}

div.error input {
  box-shadow: 0 0 0 2px var(--fancy-red);
}

h4 {
  margin-bottom: 0;
}

.variable {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  padding: 8px 2px;
  width: 5rem;
  border-radius: 5px;

  /* Focus state styling */
  outline: none;
  color: rgba(102,102,102,1);
  display: flex;
  justify-content: center;
}

.highlight {
  animation: target-fade 3s 1;
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}

@keyframes target-fade {
  0% { background-color: rgba(255,255,53,.8); }
  5% { background-color: rgba(255,255,153,0); }
  10% { background-color: rgba(255,255,53,.8); }
  15% { background-color: rgba(255,255,153,0); }
  40% { background-color: rgba(255,255,53,.8); }
  100% { background-color: rgba(255,255,153,0); }
}
@-webkit-keyframes target-fade {
  0% { background-color: rgba(255,255,53,.8); }
  5% { background-color: rgba(255,255,153,0); }
  10% { background-color: rgba(255,255,53,.8); }
  15% { background-color: rgba(255,255,153,0); }
  40% { background-color: rgba(255,255,53,.8); }
  100% { background-color: rgba(255,255,153,0); }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(255,255,53,.8); }
  5% { background-color: rgba(255,255,153,0); }
  10% { background-color: rgba(255,255,53,.8); }
  15% { background-color: rgba(255,255,153,0); }
  40% { background-color: rgba(255,255,53,.8); }
  100% { background-color: rgba(255,255,153,0); }
}


.start {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
}

.result {
  white-space: nowrap;
  margin-left: 1em;
  padding: 4px;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  color: var(--ming);
  min-width: 120px;
  text-align: left;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.load-container {
  width: 1.5em;
  margin: 12px;
}

.load-container.hide {
  display: none;
}


 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}