<app-header (showMenu)="showMenu = !showMenu" (showCreateMenu)="showCreateMenu = !showCreateMenu" (showFolderMenu)="showFolderMenu = !showFolderMenu"></app-header>
<app-folder-header-modal [(showMenu)]="showFolderMenu"></app-folder-header-modal>
<app-create-header-modal [(showMenu)]="showCreateMenu"></app-create-header-modal>
<app-header-modal [(showMenu)]="showMenu"></app-header-modal>

<div class="container-my">
  <!-- <router-outlet></router-outlet> -->
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
