<app-content-card [title]="localize.importCSV" class="main-menu">
    
    <div class="top-bar">
        <div class="import-part">
            <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
            <button (click)="hiddenfileinput.click()" class="import-as-csv-button">Import as CSV</button>
        </div>
        <div class="buttons">
            <button class="save-button" (click)="onSaveClicked()">Save</button>
        </div>
    </div>
    <div class="team-content">
        <div style="display: flex; align-items: baseline; justify-content: space-between;">
            <div style="display: flex; align-items: baseline;  flex-wrap: wrap; padding-bottom: 30px;">
                <div class="team-name-label " style=" padding-right: 30px; line-break: auto;">
                    Team name: 
                </div>
                <input type="text" class="form-control ng-pristine ng-invalid ng-touched" (input)="onTeamNameChange($event.target.value)" style="width: 70%;">
            </div>
        </div>
        <div style="display: flex; align-items: baseline; justify-content: space-between;">
            <div></div>
            <div class="page-section">
                <button 
                    style="margin-right: 15px;" 
                    (click)="onPageChangeClick(-1)"
                    class="navigation-button"
                    >
                    &lt;
                </button> 
                Page {{this.currentPage}} 
                <button 
                    style="margin-left: 15px;"
                    (click)="onPageChangeClick(1)"
                    class="navigation-button"
                    >
                    &gt;
                </button>
            </div>
        </div>
            <div style="display: flex;">
            <!-- <div style="max-width: 15%; word-wrap: break-word;">asdasdasdasd
                asdasdasdasdasdasasdasdasdasdasdasdd
                asdasd
            </div> -->
            <table class="participants">
                <thead class="table-head">
                    <tr>
                        <th>#</th>
                        <th *ngFor="let header of csvHeaders.forTableHeader">{{header}}</th>
                    </tr>
                </thead>
                <hr />
                <tbody>
                    <tr *ngFor="let teamMember of getTeamMembersForCurrentPage(); let i = index">
                            <td>{{i + 1 + (this.currentPage - 1) * this.membersPerPage}}</td>
                            <td style="width: 20%;">
                                <input 
                                    size="1"
                                    style="width: 85%;"
                                    type="text" 
                                    value="{{teamMember.firstName}}" 
                                    class="form-control member-field-input " 
                                    (input)="onTeamMemberFieldChange($event.target.value, i, 'firstName')"
                                >
                            </td>
                            <td style="width: 20%;">
                                <input 
                                    size="1"
                                    style="width: 85%;"
                                    type="text" 
                                    value="{{teamMember.lastName}}" 
                                    class="form-control member-field-input" 
                                    (input)="onTeamMemberFieldChange($event.target.value, i, 'lastName')"
                                >
                            </td>
                            <td style="width: 35%;">
                                <input 
                                    size="1"
                                    style="width: 85%;"
                                    type="text" 
                                    value="{{teamMember.email}}" 
                                    class="form-control member-field-input" 
                                    (input)="onTeamMemberFieldChange($event.target.value, i, 'email')"
                                >
                            </td>
                            <td style="width: 12%;">
                                <select
                                    class="form-control member-field-input" 
                                    [value]="teamMember.gender"
                                    (input)="onTeamMemberFieldChange($event.target.value, i, 'gender')"
                                    #select (change)="select.blur()"
                                    >
                                    <option value="MALE">Man</option>
                                    <option value="FEMALE">Woman</option>
                                    <option value="OTHER">Other</option>
                                </select>
                            </td>
                            <td style="width: 20%;">
                                <input 
                                    size="1"
                                    style="width: 85%;"
                                    type="date" 
                                    value="{{teamMember.dateOfBirth}}" 
                                    class="form-control member-field-input" 
                                    (input)="onTeamMemberFieldChange($event.target.value, i, 'dateOfBirth')"
                                    #date (change)="date.blur()"
                                >
                            </td>
                            
                            <!-- <td style="width: 20%;"></td>
                            <td style="width: 50%;"></td>
                            <td style="width: 20%;"></td>
                            <td style="width: 20%;"></td>
                            <td *ngFor="let header of csvHeaders.forCsv" [style.width]="header === 'email' ? '50%' : '20%'">
                                <input 
                                    size="1"
                                    style="width: 85%;"
                                    *ngIf="header !== 'gender'"
                                    type="{{header !== 'dateOfBirth' ? 'text' : 'date'}}" 
                                    value="{{teamMember[header]}}" 
                                    class="member-field-input" 
                                    (input)="onTeamMemberFieldChange($event.target.value, i, header)"
                                >
                            </td> -->
                        </tr>
                </tbody>
            </table>
        </div>
        <div style="display: flex; align-items: baseline; justify-content: space-between; padding-top: 20px;">
            <div>
            </div>
            <div class="page-section">
                <button 
                    style="margin-right: 15px;" 
                    (click)="onPageChangeClick(-1)"
                    class="navigation-button"
                    >
                    &lt;
                </button> 
                Page {{this.currentPage}} 
                <button 
                    style="margin-left: 15px;"
                    (click)="onPageChangeClick(1)"
                    class="navigation-button"
                    >
                    &gt;
                </button>
            </div>
        </div>
    </div>
</app-content-card>