div{
    white-space:pre-line;
}

.main-menu {
    display: block;
    padding: 0;
    margin-left: 12.5%;    
    margin-right: 12.5%; 
}

.top-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.import-as-csv-button {
    background-color: rgba(171, 245, 255, 0.72);
    text-align: center;
    width: 250px;
    height: 100px;
    font-size: 28px;
}

.add-new-member-btn {
    margin-right: 2%;
    background-color: greenyellow;
}

.team-content {
    padding-top: 5%;
}

.save-button {
    background-color: green; 
    color: white;
    width: 250px;
    height: 100px;
    font-size: 35px;
    // border: 3px solid black;
}

// .buttons {
//     justify-content: flex-end;
//     display: flex;
// }

.team-name-input {
    // border: 3px solid black;
    // border-radius: 8px;
    margin-top: 30px;
}

.team-name-label {
    font-size: 35px;
    font-weight: 750;
    text-align: right;
}

.member-field-input {
    // border-bottom: 2px solid grey;
    // border-left: 2px solid grey;
    // box-shadow: -1px 1px grey;
    border-radius: 8px;
    text-align: center;
    border: 1px turquoise solid;
    padding: 0px;
    display: inline-block;
}

// .navigation-button {
//     outline: solid 0px #000000;
//     transition: outline 0.1s linear;
// }

// .navigation-button:hover {
//     outline-width: 3px;
// }


select {
    -webkit-appearance: auto;
    appearance: auto;
}

table {
    margin-top: 30px;
    border-collapse: separate;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    // border-radius: 8px;
    padding: 16px;    
    // margin-left: 20%;    
    // margin-right: 20%;    
}

tr>td {
    padding-bottom: 1em;
}

.toast-container {
    background-color: black;
}

::ng-deep #toast-container > div {
    white-space: pre-line;
}