<app-content-card
  [title]="localize.importCSV"
  class="main-menu"
  hasBackButton="true"
  navigateBackPath="/user/team"
>

    <div class="top-bar">
        <div class="buttons" style="margin-bottom: 5%;">
            <button class="save-button any-btn" (click)="onSaveClicked()">{{localize.save}}</button>
        </div>
    </div>
    <div class="team-content">
            <div style="display: flex;">
            <!-- <div style="max-width: 15%; word-wrap: break-word;">asdasdasdasd
                asdasdasdasdasdasasdasdasdasdasdasdd
                asdasd
            </div> -->
                <div style="max-width:10%; display: flex; flex-direction: column; padding-right: 1%; margin-top: 50px;">
                    <button (click)="onAddNewMemberClick()" class="add-new-member-btn any-btn" style="font-size: 80%;">+ {{localize.member}}</button>
                        <input
                            style="display: none"
                            type="file"
                            (change)="onFileSelect($event)"
                            (click)="onFileClick($event)"
                            #hiddenfileinput>
                        <button (click)="hiddenfileinput.click()" class="import-as-csv-button any-btn" style="font-size: 80%; margin-top: 10%;">
                            <img style=" object-fit: cover;" src="/assets/team-import/import.png" class="csv-button-img">
                            <br>
                            {{localize.importCSVButton}}</button>
                        <button (click)="exportAsCSV()" class="export-as-csv-button any-btn" style="font-size: 80%;margin-top: 10%;">
                            <img src="/assets/team-import/export.png" class="csv-button-img csv-button">
                            <br>
                            {{localize.exportCSVButton}}</button>
                    <button (click)="onClearClicked()" class="clear-members-btn any-btn" style="font-size: 80%;margin-top: 30%;">{{localize.clearAll}}</button>
                </div>

        <div class="row" style="width: 100%; margin: 0;">
          <table class="table table-striped" style="width: 100%;">
            <thead>
            <tr>
              <th style="width: 3em;" scope="col">#</th>
              <th style="width: 14%;" scope="col">{{localize.firstname}}</th>
              <th style="width: 14%;" scope="col">{{localize.lastname}}</th>
              <th style="width: 26%;" scope="col">Email</th>
              <th style="width: 9em;" scope="col">{{localize.dateOfBirth}}</th>
              <th style="width: 8em;" scope="col">{{localize.gender}}</th>
              <th style="width: 12%;" scope="col">{{localize.flag}} ({{localize.optional}})</th>
              <th style="width: 3em;" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of this.displayTeamMembers; let i = index">
              <th scope="row">{{i + 1 + (page - 1) * pageSize}}</th>
              <td><input class="member-field-input" type="text" [(ngModel)]="record.firstName"></td>
              <td><input class="member-field-input" type="text" [(ngModel)]="record.lastName"></td>
              <td><input class="member-field-input" type="text" [(ngModel)]="record.email"></td>
              <td><input class="member-field-input" type="date" [(ngModel)]="record.dateOfBirth"></td>
              <td><select
                    class="form-control member-field-input"
                    [(ngModel)]="record.gender"
                    #select
                    (change)="select.blur()"
                    >
                    <option value="MALE">{{localize.getGender('Male')}}</option>
                    <option value="FEMALE">{{localize.getGender('Female')}}</option>
                    <option value="OTHER">{{localize.getGender('Other')}}</option>
                </select></td>
              <td><input class="member-field-input" type="text" [(ngModel)]="record.flag"></td>
              <td>
                <mat-icon (click)="onRemoveMemberClick(getGlobalTeamMemberIndex(i))" style="cursor: pointer; color: hsla(349, 73%, 44%, 1);" _ngcontent-xam-c83="" role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color ng-star-inserted" aria-hidden="true" data-mat-icon-type="font">delete</mat-icon>
            </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row">
      <div style="display: flex; justify-content: center">
          <ngb-pagination
          [collectionSize]="teamMembers.length"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshCountries()"
          class="center"
          ></ngb-pagination>
      </div>
    </div>
    </div>
</app-content-card>
