<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formResetPassword"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Change Password</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" name="inputEmail" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="Enter Email" [readOnly]="true">
              <div *ngIf="submitted && changePasswordForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="changePasswordForm.controls.email.errors.required">Your Email is
                  required!
                </small>
              </div>
              <label for="inputPasswordOne">Password</label>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <input [type]="hide ? 'password' : 'text'" name="inputPasswordOne" formControlName="passwordOne" class="form-control" id="inputPasswordOne"
                     aria-describedby="passwordOneHelp" placeholder="Enter password">
              <div *ngIf="submitted && changePasswordForm.controls.passwordOne.errors" class="error">
                <small class="form-text text-warning" *ngIf="changePasswordForm.controls.passwordOne.errors.required">Your password is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="changePasswordForm.controls.passwordOne.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
              <label for="inputPasswordTwo">Repeat Password</label>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <input [type]="hide ? 'password' : 'text'" name="inputPasswordTwo" formControlName="passwordTwo" class="form-control" id="inputPasswordTwo"
                     aria-describedby="passwordTwoHelp" placeholder="Re-enter password">
              <div *ngIf="submitted && changePasswordForm.controls.passwordTwo.errors" class="error">
                <small class="form-text text-warning" *ngIf="changePasswordForm.controls.passwordTwo.errors.required">Your password is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="changePasswordForm.controls.passwordTwo.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
            </div>

            <button type="button" (click)="changePassword()" class="btn btn-success float-right">Change password</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
