<main>
  <div class="scrollabove">
    <app-content-card *ngIf="canEditParticipants" [title]="localize.managedParticipants" >
      <div class="form-group">
        <label class="mx-2" for="new-flags">{{localize.createFlag}}</label>
        <div class="d-flex flex-row col-6">
          <input [(ngModel)]="newFlagText" class="mx-2 form-control" id="new-flags" type="text">
          <button class="mx-2" type="button" (click)="newFlag()" class="primary-btn bc-ming">{{localize.create}}</button>
        </div>

        <div class="spacer-2"></div>

        <label class="mx-2" for="flags">{{localize.flag}}</label>
        <div class="d-flex flex-row col-6">
          <select [(ngModel)]="selectedFlag" class="form-select mx-2" name="my-flags" id="flags" aria-describedby="flags you already used">
            <option *ngFor="let flag of currentFlags()" [value]="flag.id">{{flag.name}}</option>
          </select>
          <button class="mx-2 primary-btn bc-ming" type="button" (click)="addFlag()">{{localize.add}}</button>
          <button class="mx-2 primary-btn bc-sizzling-red" type="button" (click)="deleteFlag()">{{localize.delete}}</button>
        </div>

        <div class="spacer-2"></div>

        <div class="d-flex flex-row col-6">
          <button class="mx-2 primary-btn bc-sizzling-red" type="button" (click)="registerTo()">{{localize.register}}</button>
        </div>
      </div>

      <div class="spacer-2"></div>

      <app-bulk-editor
        [header]="[localize.firstname,localize.lastname,localize.gender,localize.dateOfBirth,localize.flag]"
        [recordsPerPage]="25"
        [enablePagination]="true"
        [fetchData]="fetchParticipantsWithFlags"
        [mapRecord]="mapParticipantWithFlags"
        [disableDelete]="true"
        [updateCounter]="this.updateCounter"
        [bulkAction]="bulkAction"
      ></app-bulk-editor>
    </app-content-card>
  </div>
</main>
