<main>
<div class="jumbotron mt-5">
  <h1 class="display-4">Welcome to the SEPM group phase!</h1>
  
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>

  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/forgot" role="button">Forget Password</a>
  <div *ngIf="authService.isLoggedIn()">
    <p>Check out the latest message from the SEPM group phase.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/message" role="button">Message</a>
      <a class="btn btn-primary btn-lg" routerLink="/message" role="button">Message</a>
    </p>
  </div>
</div>
</main>