<div class="whole-box">
    <div class="filter-elements">
        <div class="filter-element">
            <label>{{localize.title}}</label>
            <div style="padding-right: 5px;">
                <input
                    type="text"
                    class="form-control ng-pristine ng-invalid ng-touched"
                    [(ngModel)]="competitionSearch.name" (ngModelChange)="this.inputChange.next($event)"
                />
            </div>
        </div>
        <div class="filter-element">
            <label for="takes-place-input">{{localize.beginAtOrAfter}}</label>
            <div>
                <div style="display: inline-block; padding-right: 5px;">
                    <input
                        type="date"
                        class="form-control ng-pristine ng-invalid ng-touched"
                        [(ngModel)]="competitionSearch.begin" (ngModelChange)="this.inputChange.next($event)"
                    />
                </div>
            </div>
        </div>
        <div class="filter-element">
            <label>{{localize.registrationNotDone}}</label>
            <div style="padding-right: 5px;">
                <input type="checkbox" class="" [(ngModel)]="registrationPossible"  (ngModelChange)="this.inputChange.next($event)"/>
            </div>
        </div>
    </div>
</div>
