<div class="hide-area" *ngIf="showMenu" (click)="hide()">
  <div class="menu">
    <a class="menu-item" [routerLink]="['/competition', 'create']"
       *ngIf="this.authService.getUserRole() === 'TOURNAMENT_MANAGER'">
      <mat-icon style="margin-right: 8px;">add_box</mat-icon>
      {{localize.createTournament}}
    </a>
    <a class="menu-item" [routerLink]="['/user', 'team']"
       *ngIf="this.authService.getUserRole() === 'TOURNAMENT_MANAGER' || this.authService.getUserRole() === 'CLUB_MANAGER'">
      <mat-icon style="margin-right: 8px;">group</mat-icon>
      {{localize.team}}
    </a>
  </div>
</div>
