<div class="main-menu">
    <app-competition-list-view-filter 
        (competitionSearchChange)="competitionSearchChange($event)">

    </app-competition-list-view-filter>
            <div style="display: flex;align-items: baseline; justify-content: space-between; padding-bottom: 30px;">
                <div></div>
                <div style="font-size: 30px;" *ngIf="this.competitions.length > this.competitionsPerPage">
                    <button 
                    style="margin-right: 15px;" 
                    (click)="onPageChangeClick(-1)"
                    class="navigation-button"
                    >
                    &lt;
                    </button>
                    {{localize.page}} {{this.currentPage}} 
                    <button 
                    style="margin-left: 15px;"
                    (click)="onPageChangeClick(1)"
                    class="navigation-button"
                    >
                    &gt;
                    </button>
                </div>
            </div>

    <app-competition-list-view-entry 
        *ngFor="let competition of getCompetitionsForCurrentPage()" 
        [competition]="competition"
        [routerLink]="'/competition/' + competition.id"
        >
    </app-competition-list-view-entry>
                <div style="display: flex;align-items: baseline; justify-content: space-between; padding-bottom: 30px;">
                <div></div>
                <div style="font-size: 30px;" *ngIf="this.competitions.length > this.competitionsPerPage">
                    <button 
                    style="margin-right: 15px;" 
                    (click)="onPageChangeClick(-1)"
                    class="navigation-button"
                    >
                    &lt;
                    </button>
                    {{localize.page}} {{this.currentPage}} 
                    <button 
                    style="margin-left: 15px;"
                    (click)="onPageChangeClick(1)"
                    class="navigation-button"
                    >
                    &gt;
                    </button>
                </div>
            </div>
</div>
