<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error: </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formResetPassword"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Reset Password</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

            <div class="form-group">
              <label for="inputPasswordOne">Password</label>
              <input type="text" name="inputPasswordOne" formControlName="passwordOne" class="form-control" id="inputPasswordOne"
                     aria-describedby="passwordOneHelp" placeholder="Enter password">
              <div *ngIf="submitted && resetPasswordForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordOne.errors.required">Your password is
                  required!
                </small>
              </div>
              <label for="inputPasswordTwo">Repeat Password</label>
              <input type="text" name="inputPasswordTwo" formControlName="passwordTwo" class="form-control" id="inputPasswordTwo"
                     aria-describedby="passwordTwoHelp" placeholder="Re-enter password">
              <div *ngIf="submitted && resetPasswordForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordTwo.errors.required">Your password is
                  required!
                </small>
              </div>
            </div>


            <button type="button" (click)="resetPassword()" class="btn btn-success float-right">Reset password</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
