<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formResetPassword"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Reset Password</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

            <div class="form-group">
              <label for="inputPasswordOne">Password</label>
              <input type="text" name="inputPasswordOne" formControlName="passwordOne" class="form-control"
                     id="inputPasswordOne"
                     aria-describedby="passwordOneHelp" placeholder="Enter password">
              <div *ngIf="submitted && resetPasswordForm.controls.passwordOne.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordOne.errors.required">Your
                  password is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordOne.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
              <label for="inputPasswordTwo">Repeat Password</label>
              <input type="text" name="inputPasswordTwo" formControlName="passwordTwo" class="form-control"
                     id="inputPasswordTwo"
                     aria-describedby="passwordTwoHelp" placeholder="Re-enter password">
              <div *ngIf="submitted && resetPasswordForm.controls.passwordTwo.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordTwo.errors.required">Your
                  password is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordTwo.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
            </div>


            <button type="button" (click)="resetPassword()" class="btn btn-success float-right">Reset password</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
