<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formResetPassword"></span>
      <app-content-card [title]="localize.resetPassword">
        <div class="card-body">
          <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="inputPasswordOne">{{localize.password}}</label>
              <div class="relative-floating">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <input [type]="hide ? 'password' : 'text'" name="inputPasswordOne" formControlName="passwordOne"
                       class="form-control"
                       id="inputPasswordOne"
                       aria-describedby="passwordOneHelp" placeholder="{{localize.enter(localize.password)}}">
              </div>
              <div *ngIf="submitted && resetPasswordForm.controls.passwordOne.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordOne.errors.required">
                  {{localize.isRequired(localize.password)}}
                </small>
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordOne.errors.minlength">
                  {{localize.passwordMinLength8}}
                </small>
              </div>
              <label for="inputPasswordTwo">{{localize.repeatPassword}}</label>
              <div class="relative-floating">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <input [type]="hide ? 'password' : 'text'" name="inputPasswordTwo" formControlName="passwordTwo"
                       class="form-control"
                       id="inputPasswordTwo"
                       aria-describedby="passwordTwoHelp" placeholder="{{localize.repeatPassword}}">
              </div>
              <div *ngIf="submitted && resetPasswordForm.controls.passwordTwo.errors" class="error">
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordTwo.errors.required">
                  {{localize.isRequired(localize.password)}}
                </small>
                <small class="form-text text-warning" *ngIf="resetPasswordForm.controls.passwordTwo.errors.minlength">
                  {{localize.passwordMinLength8}}
                </small>
              </div>
            </div>
            <button type="button" (click)="resetPassword()" class="btn btn-success float-right">{{this.localize.resetPassword}}</button>
          </form>
        </div>
      </app-content-card>
    </div>
  </div>
</div>
