<div class="modal-header">
  <h4 class="modal-title">{{localize.registration}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <h5>{{competition.name}}</h5>
  <br/>
  <ul>
    <li>{{localize.competition}}: {{formatDate(competition.beginOfCompetition)}}
      - {{formatDate(competition.endOfCompetition)}}</li>
    <li>{{localize.endOfRegistration}}: {{formatDate(competition.endOfRegistration)}}</li>
  </ul>

  <div class="form-group col-6" *ngIf="groups">
    <label for="groupPreference">{{localize.groupPreference}}</label>
    <select name="groupPreference" class="form-select"
            id="groupPreference" aria-describedby="Group Preference" [(ngModel)]="groupPreference">
      <option value="-1" selected>{{localize.noPreference}}</option>
      <option *ngFor="let group of groups" [value]="group.id">{{group.title}}</option>
    </select>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()">{{localize.register}}</button>
</div>
