<div class="modal-header">
  <h4 class="modal-title">{{localize.registration}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <h5>{{competition.name}}</h5>
  <br/>
  <ul>
    <li>{{localize.competition}}: {{formatDate(competition.beginOfCompetition)}}
      - {{formatDate(competition.endOfCompetition)}}</li>
    <li>{{localize.endOfRegistration}}: {{formatDate(competition.endOfRegistration)}}</li>
  </ul>

  <div class="form-group col-6" *ngIf="groups">
    <label for="groupPreference">{{localize.registerToAGroup}}</label>
    <select name="groupPreference" class="form-select"
            id="groupPreference" aria-describedby="Group" [(ngModel)]="groupPreference">
      <option [ngValue]="null" selected disabled>{{localize.selectAGroup}}</option>
      <option *ngFor="let group of groups" [ngValue]="group.id">{{group.title}}</option>
    </select>
  </div>

  <div *ngIf="getSelectedGroup() !== null && getSelectedGroup().constraints.length > 0" class="alert alert-secondary mt-3" role="alert">
    <h3>{{localize.groupHasRegistrationReq}}</h3>
    <ul>
      <li *ngFor="let constraint of getSelectedGroup().constraints">{{constraint.description}}</li>
    </ul>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="groupPreference === null">{{localize.register}}</button>
</div>
