<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Problem creating Competition</strong>
  <ul>
    <li *ngFor="let err of errMsg.errors">{{err}}</li>
  </ul>
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Create Competition</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="competitionForm" (ngSubmit)="createCompetition()">

            <div class="form-row">
              <div class="form-group">
                <label for="inputName">Title</label>
                <input type="text" name="name" formControlName="name" class="form-control"
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.name)" id="inputName"
                       autocomplete="off"
                       aria-describedby="name of competition" placeholder="">
                <div class="invalid-feedback">
                  Title is required
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea rows="3" name="description" formControlName="description" class="form-control"
                          id="inputDescription"
                          autocomplete="off"
                          aria-describedby="description" placeholder="" style="height:auto;">
              </textarea>
              </div>
            </div>

            <div class="form-row row">
              <div class="form-group col-6">
                <label for="inputBeginOfRegistration">Begin of registration</label>
                <input type="datetime-local" name="beginOfRegistration" formControlName="beginOfRegistration"
                       class="form-control"
                       min="{{dateNow | date: 'yyyy-MM-ddTHH:mm'}}"
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.beginOfRegistration)"
                       id="inputBeginOfRegistration"
                       #inputBeginOfRegistration
                       aria-describedby="begin of registration" placeholder="Begin of registration">
                <div class="invalid-feedback">
                  Begin of registration is required
                </div>
              </div>
              <div class="form-group col-6">
                <label for="inputEndOfRegistration">End of registration</label>
                <input type="datetime-local" name="endOfRegistration" formControlName="endOfRegistration"
                       min="{{inputBeginOfRegistration.value ? inputBeginOfRegistration.value : dateNow | date: 'yyyy-MM-ddTHH:mm'}}"
                       class="form-control"
                       #endOfRegistration
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.endOfRegistration)"
                       id="inputEndOfRegistration"
                       aria-describedby="end of registration" placeholder="End of registration">
                <div class="invalid-feedback">
                  End of registration is required
                </div>
              </div>
            </div>
            <div class="form-row row">
              <div class="form-group col-6">
                <label for="inputBeginOfCompetition">Begin of competition</label>
                <input type="datetime-local" name="beginOfCompetition" formControlName="beginOfCompetition"
                       class="form-control"
                       [min]="endOfRegistration.value ? inputBeginOfRegistration.value : dateNow | date: 'yyyy-MM-ddTHH:mm'"
                       #beginOfCompetition
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.beginOfCompetition)"
                       id="inputBeginOfCompetition"
                       aria-describedby="begin of competition" placeholder="Begin of competition">
                <div class="invalid-feedback">
                  Begin of competition is required
                </div>
              </div>

              <div class="form-group col-6">
                <label for="inputEndOfCompetition">End of competition</label>
                <input type="datetime-local" name="endOfCompetition" formControlName="endOfCompetition"
                       class="form-control"
                       [min]="beginOfCompetition.value ? beginOfCompetition.value : dateNow | date: 'yyyy-MM-ddTHH:mm'"
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.endOfCompetition)"
                       id="inputEndOfCompetition"
                       aria-describedby="end of competition" placeholder="End of competition">
                <div class="invalid-feedback">
                  End of competition is required
                </div>
              </div>
            </div>

            <div class="form-row row">
              <div class="form-group col-6">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" formControlName="email" class="form-control"
                       id="inputEmail"
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.email)"
                       aria-describedby="email">
                <div class="invalid-feedback">
                  Invalid email
                </div>
              </div>

              <div class="form-group col-6">
                <label for="inputPhone">Phone</label>
                <input type="tel" name="phone" formControlName="phone" class="form-control"
                       id="inputPhone"
                       [ngClass]="dynamicCssClassesForInput(competitionForm.controls.phone)"
                       aria-describedby="phone">
                <div class="invalid-feedback">
                  Invalid phone
                </div>
              </div>
            </div>

            <div class="form-row row">
              <div class="form-group col-6">
                <label for="inputCompetitionType">Competition Type</label>
                <select type="datetime-local" name="competitionType" formControlName="isPublic" class="form-select"
                        id="inputCompetitionType"
                        aria-describedby="type of competition">
                  <option value="FALSE" selected>Private</option>
                  <option value="TRUE">Public</option>
                </select>
              </div>

              <div class="form-group col-6">
                <label for="inputCompetitionStatus">Competition Status</label>
                <select type="datetime-local" name="competitionType" formControlName="draft" class="form-select"
                        id="inputCompetitionStatus"
                        aria-describedby="status of competition">
                  <option value="TRUE" selected>Draft</option>
                  <option value="FALSE">Active</option>
                </select>
              </div>
            </div>

            <button type="button" (click)="createCompetition()" class="btn btn-success float-right mt-2">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
