<div #ob></div>
<div #header id="header" class="turnier-header" *ngIf="!isEdit">
    <h1>{{title}}</h1>
    <button class="secondary-btn flex-center align-items-center" style="gap: 4px;" [disabled]="isRegistered" (click)="onRegisterClick()" *ngIf="canRegister">
      <mat-icon *ngIf="isRegistered">done</mat-icon>{{isRegistered ? localize.registered : localize.register}}
    </button>
</div>

<div #header id="header" class="turnier-header" *ngIf="isEdit">
    <h1><ng-content></ng-content></h1>
</div>
