/* Coolors Exported Palette - https://coolors.co/c41e3d-3b3561-c9f9ff-ff2c55-387780 */

/* CSS HEX */
--cardinal: #c41e3dff;
--space-cadet: #3b3561ff;
--light-cyan: #c9f9ffff;
--sizzling-red: #ff2c55ff;
--ming: #387780ff;

/* CSS HSL */
--cardinal: hsla(349, 73%, 44%, 1);
--space-cadet: hsla(248, 29%, 29%, 1);
--light-cyan: hsla(187, 100%, 89%, 1);
--sizzling-red: hsla(348, 100%, 59%, 1);
--ming: hsla(188, 39%, 36%, 1);

/* SCSS HEX */
$cardinal: #c41e3dff;
$space-cadet: #3b3561ff;
$light-cyan: #c9f9ffff;
$sizzling-red: #ff2c55ff;
$ming: #387780ff;

/* SCSS HSL */
$cardinal: hsla(349, 73%, 44%, 1);
$space-cadet: hsla(248, 29%, 29%, 1);
$light-cyan: hsla(187, 100%, 89%, 1);
$sizzling-red: hsla(348, 100%, 59%, 1);
$ming: hsla(188, 39%, 36%, 1);

/* SCSS RGB */
$cardinal: rgba(196, 30, 61, 1);
$space-cadet: rgba(59, 53, 97, 1);
$light-cyan: rgba(201, 249, 255, 1);
$sizzling-red: rgba(255, 44, 85, 1);
$ming: rgba(56, 119, 128, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-right: linear-gradient(90deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-bottom: linear-gradient(180deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-left: linear-gradient(270deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-top-right: linear-gradient(45deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-bottom-right: linear-gradient(135deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-top-left: linear-gradient(225deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-bottom-left: linear-gradient(315deg, #c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);
$gradient-radial: radial-gradient(#c41e3dff, #3b3561ff, #c9f9ffff, #ff2c55ff, #387780ff);