<div class="formular-creator" *ngIf="!collapsed">
    <div class="station-content-head">
        Funktionen:
    </div>
    <div cdkDropListGroup class="drop-group">
        <div class="functions-and-variables">
            <div class="variables copy" cdkDropList [cdkDropListData]="variables" cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)" (cdkDropListExited)="exitedVars($event)"
                (cdkDropListEntered)="entered()" [cdkDropListEnterPredicate]="noEnterPredicate">
                <div class="variable {{color}}" *ngFor="let item of variables;" cdkDrag [cdkDragData]="item">
                    {{item.name}}
                </div>
            </div>
            <div class="functions copy" cdkDropList [cdkDropListData]="functions" cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)" (cdkDropListExited)="exitedFuns($event)"
                (cdkDropListEntered)="entered()" [cdkDropListEnterPredicate]="noEnterPredicate">
                <div [class]="item.type" *ngFor="let item of functions;" cdkDrag [cdkDragData]="item">
                    {{item.name}}
                </div>
            </div>
            <div class="constants copy" cdkDropList [cdkDropListData]="constants" cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)" (cdkDropListExited)="exitedFuns($event)"
                (cdkDropListEntered)="entered()" [cdkDropListEnterPredicate]="noEnterPredicate">
                <div [class]="item.type" *ngFor="let item of constants;" cdkDrag [cdkDragData]="item">
                    {{item.name}}
                </div>
            </div>

            <div class="add-note flex-center flex-end-100">
                <input type="number" [(ngModel)]="tempConst">
                <div class="add-note flex-center" (click)="addConstant()">
                    <mat-icon>add_circle_outline</mat-icon> Konstante
                </div>
            </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="formular">
            <b>{{name}}</b> Ergebnis = <div class="calculation">
                <div *ngFor="let list of calculation; index as i;">
                    <div [class]="getFormulaClass(i)" cdkDropList [cdkDropListData]="list" cdkDropListSortingDisabled
                        (cdkDropListDropped)="drop($event, i)" (cdkDropListEntered)="entered()"
                        [cdkDropListEnterPredicate]="onlyOnePredicate">
                        <div [class]="[item.type, 'symbol', color]" *ngFor="let item of list;" cdkDrag
                            [cdkDragData]="item">
                            <div class="remove-holder">
                                <mat-icon class="remove-btn" (click)="removeFrom(i)">close</mat-icon>
                            </div>
                            <div>
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapsed-formula" *ngIf="collapsed">
    <div class="larger">=</div>
    <div class="invalid-formula" *ngIf="!this.formula.valid">
        Ungültige Formel
    </div>
    <div class="flex-me" *ngIf="this.formula.valid">
        <div *ngFor="let list of calculation; index as i;">
            <div [class]="getFormulaClass(i)">
                <div [class]="[item.type, 'symbol', color]" *ngFor="let item of list;">
                    <div>
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>