<div class="content-card description">
    <div class="content-card-heading {{color}}">
        <h3 *ngIf="!isEdit">{{title}}</h3>
        <h3 *ngIf="isEdit"><input type="text" (change)="updateTitle()" [(ngModel)]="title"></h3>
        <div class="action-container">
            <mat-icon *ngIf="actions.includes('delete')" (click)="deleteClicked()">delete</mat-icon>
            <mat-icon *ngIf="actions.includes('duplicate')" (click)="duplicateClicked()">content_copy</mat-icon>
            <mat-icon *ngIf="actions.includes('collapse') && !_collapsed" (click)="collapse()">expand_less</mat-icon>
            <mat-icon *ngIf="actions.includes('collapse') && _collapsed" (click)="collapse()">expand_more</mat-icon>
        </div>
    </div>
    <div class="content-card-content">
        <ng-content></ng-content>
    </div>
</div>
